# git files
.gitattributes export-ignore
.gitignore export-ignore
.git export-ignore
CNAME export-ignore

# general text files
*README.txt export-ignore
*readme.md export-ignore
*README.md export-ignore
*README export-ignore

# project files
/doc export-ignore
/res export-ignore
_start.sh export-ignore
_package.sh export-ignore
debug.log export-ignore