[Desktop Entry]
Version=1.0
Name=Install Worksets Gnome Extension
Name[en_AU]=Install Worksets Gnome Extension
GenericName=Install Worksets Gnome Extension
Comment=Install Worksets Gnome Extension: Customise and manage workplaces
Exec=bash -c "cd \"$(dirname %k)\" && chmod +x _install.sh && ./_install.sh && zenity --info --text='Restart Gnome Shell to finish installing Worksets extension.'"
Icon=bowser.png
Terminal=false
Type=Application
X-Desktop-File-Install-Version=0.24